
.container-fluid {
    background-color: rgb(220, 198, 241);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color:rgb(66, 19, 66);
    color: beige;
}
.navbar-toggler {
    
    background-color: beige;
}
.navbar .navbar-brand {
    color: beige;
    font-family: 'Franklin Gothic Medium',sans-serif;
    font-size: 1.8rem;
}
.collapse .navbar-nav .nav-item .nav-link {
    color: beige;
    font-family: 'Gill Sans MT',sans-serif;
    font-size: 1.6rem;
}
.collapse .navbar-nav .nav-item .nav-link :hover {
    color: rgb(60, 17, 100);
    background-color: beige;
    cursor: pointer;
}
.abt {
    font-size: 1.5rem;
    font-family: 'Lucida Sans Unicode', Arial;
    background-color: dimgray;
    color: rgb(4, 26, 27);
}
.collapse .navbar-nav .nav-item {
    margin-right: 30px;
}
.glyphicon {
    color: beige;
    font-size: 2rem;
}
.btn  {
    color: beige;
    font-size: 3rem;
    background-color:rgb(100, 38, 100);
}
.glyphicon-search,.glyphicon-remove {
    color: beige;
    font-size: 2rem;
    background-color:rgb(100, 38, 100);
}
.btn :hover {
    color: rgb(55, 15, 78);
   
}
.fa {
    font-size:3rem;
    width: 50px;
    text-decoration: none;
    border-radius: 20px;
    color: beige;
}
.searchnav {
    background-color:rgb(100, 38, 100);
}
.form-inline .form-control {
    height:6vh ;
    width: 20vw;
    font-family:'Gill Sans',sans-serif;
}
.list-group {
    width: 30vw;
    position: absolute;
  left: 25%;
  max-height: calc(50% - 15px);
  overflow-y: auto;
}
.list-group-item .list-group-item-action {
    font-family: 'Franklin Gothic Medium',  sans-serif;
}
.searchimage {
    border-radius: 40px;
    height:6vh ;
    width:10vw;
}
.footer {
    background-color: rgb(23, 19, 27);
    color: darkgrey;
    font-family: cursive;
    margin-top: 60vh;
}